# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/


/.idea

/web/conf/app.conf
/web/*.log
/web/static/file/*
/web/upload_files/*
/webstatic/.vs/
/web/web
/web/web_*

/agent/agent
/agent/agent.exe
/agent/agent_*
/daemon/daemon
/daemon/daemon.exe
/daemon/daemon_*
/server/server
/server/server.exe
/server/server_*

/bin/build_*

experiments/
.vscode/
__pycache__

.DS_Store

/server/cert.pem
/server/private.pem
.gdb_history
peda-session-web.txt
mongodb_data/
